.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  margin: 2rem 0 1rem 0;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #b0bec5;
}
